.header {
  background: #28324e;
}

.header .container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.header .logo, .header nav {
  width: 50%
}

.header .logo span {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  line-height: 60px;
}
.header .logo span small {
  color: #fac51c;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  bottom: -10px;
  right: -20px;
  line-height: 24px;
}

.header .navigator, .header .navigator ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header .navigator li {
  display: block;
  margin: 5px 0 0 5px;
}

.header .navigator .user-profile {
  width: 50px;
  margin: 0 15px;
}

.header .navigator .user-profile img {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  border-radius: 5px;
}
